{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "quote-props": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-closing-bracket-location": [
      1,
      "props-aligned"
    ],
    "react/prop-types": "off"
  }
}
